node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
yarn-error.log
yarn-debug.log*
yarn-versions.*
npm-debug.log*
npm-*.log
npm-debug.log.*
npm/
amplify/
aws-exports.*
.env

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

